streamlit
pandas
numpy
pillow
transformers
pytesseract
opencv-python
matplotlib
opencv-python-headless
scikit-learn
seaborn
streamlit
pandas
numpy
matplotlib
pillow
seaborn
scikit-learn
streamlit
pandas
numpy
matplotlib
seaborn
opencv-python
pillow
transformers
torc
